.jester-img {
  width: 100px;        /* adjust as needed */
  height: 100px;
  z-index: 10;
  margin-top: -30px;  /* tweak for visual overlap */
  margin-right: -30px;

  position: absolute;
  top: 0;
  right: 0;
  animation: pixel-bounce 0.6s steps(4) infinite alternate;



  /* Outline effect using shadow */
  filter: drop-shadow(0 0 0 black); /* simulates solid border */
}

@keyframes pixel-bounce {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}


.card-overlay-text {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;

  position: absolute;
  bottom: -30px;
  left: -20px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  transform: rotate(-5deg);
  z-index: 20;
}

.centerScreen{
  position: absolute;
  top:200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}